---
layout: archive
title: "Members"
permalink: /members/
author_profile: true
---

{% include base_path %}

<h2>Group Leader</h2>
{% for member in site.members %}
  {% if member.type == "group leader" %}
    <div class="box-gl" width="200">
      <div class="box-gl-img" width="100%">
        <img src="{{ member.imgurl }}" alt="/images/profile.png"/>
      </div>
      <div class="box-gl-txt" width="100%">
        <span style="text-align:cneter">
          <a href="{{ member.personalurl }}">{{ member.name }}</a>
        </span>
      </div>
    </div>
  {% endif %}
{% endfor %}

<!-- Faculties
------
Saiping Guan, Zixuan Li

Ph.D students
------
To be completed.

M.S. students
------
To be completed.

Graduated students
------
To be completed. -->
