---
layout: archive
title: "Members"
permalink: /members/
author_profile: true
---

{% include base_path %}

<div>
  <h2>Group Leader</h2>
  {% for member in site.members %}
    {% if member.type == "group leader" %}
      <div class="box">
        <div class="box-img">
          <img src="{{ member.imgurl }}" />
        </div>
        <div class="box-txt">
          <p>
            {{ member.title }} <br>
            <a href="{{ member.personalurl }}">{{ member.name }}</a>
          <p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div style="clear:both"></div>

<div>
  <h2>Faculties</h2>
  {% for member in site.members %}
    {% if member.type == "faculty" %}
      <div class="box">
        <div class="box-img">
          <img src="{{ member.imgurl }}" />
        </div>
        <div class="box-txt">
          <p>
            {{ member.title }} <br>
            <a href="{{ member.personalurl }}">{{ member.name }}</a>
          <p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div style="clear:both"></div>

<div>
  <h2>Ph.D. students</h2>
  {% for member in site.members %}
    {% if member.type == "phd" %}
      <div class="box">
        <div class="box-txt">
          <p>
            {% if member.personalurl %}
              <a href="{{ member.personalurl }}">{{ member.name }}</a> ({{ member.year }})
            {% else %}
              {{ member.name }} ({{ member.year }})
            {% endif %}
          <p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div style="clear:both"></div>

<div>
  <h2>M.S. students</h2>
  {% for member in site.members %}
    {% if member.type == "ms" %}
      <div class="box">
        <div class="box-txt">
          <p>
            <a href="{{ member.personalurl }}">{{ member.name }}</a> ({{ member.year }})
          <p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div style="clear:both"></div>

<div>
  <h2>Graduated students</h2>
  {% for member in site.members %}
    {% if member.type == "graduated" %}
      <div class="box">
        <div class="box-txt">
          <p>
            <a href="{{ member.personalurl }}">{{ member.name }}</a> ({{ member.year }})
          <p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<style>
  .box {
    margin: auto 30px;
    float: left;
  }
  .box-img img {
    height: 150px;
  }
  .box-txt {
    width: 100%;
  }
  .box-txt p {
    text-align: center;
  }
</style>
